<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO</div>
          <div class="app-contact">Email : matanelbaz00@gmail.com</div>
          <div class="app-contact">Phone Number : +972-50-8111366</div>

        </div>
        <form (ngSubmit)="submitForm()">
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" name="name" type="text" placeholder="Name" [(ngModel)] = "name" required >
            </div>
            <div class="app-form-group">
              <input class="app-form-control" name="email" type="email" placeholder="Email"  [(ngModel)] = "email" required>
            </div>
            <div class="app-form-group">
            <div class="app-form-group message">
              <input class="app-form-control" name="message" type="text" placeholder="Message"  [(ngModel)] = "message" required>
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button" type="reset">CANCEL</button>
              <button class="app-form-button" type="submit">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>
