* {
  box-sizing: border-box;
}

#logout {
  color: red;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(124, 124, 124);
  color: rgb(255, 255, 255);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 5px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 7px 9px;
  margin-top: 15px;
  margin-right: 14px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 1000%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  /* .active-link{
        color:rgb(8, 139, 30);
        font-weight:bold;

} */
}
