<div>

  <h3>Welcome! You can click on each of the vehicles to see its details, delete button to delete a vehicle from the
    system, edit button to add a new vehicle.</h3>
  <div class="scrollit">

    <a style="cursor: pointer" (click)="exportexcel()">
      <button class="excel">Excel Download</button>
    </a>

    <table id="myTable" *ngIf="cars" style=" border: 1px;">

      <caption>
        <input type="text" id="myInput" (input)="applyFilter($event)" placeholder="Search Car(License Plate)">
      </caption>

      <thead>
        <tr class="header">
          <th>License Plate</th>
          <th>Car Type</th>
          <th>4x4?</th>
          <th>Engine Capacity</th>
          <th>Status</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of findedCars">
          <td routerLink="/car-details/{{c.carId}}">{{c.licensePlate}}</td>

          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.carType == 0">{{c.carType}}</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.carType == 1">Private</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.carType == 2">Mini-Van</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.carType == 3">Jeep</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.carType == 4">Coupe</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.carType == 5">SUV</td>

          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.suv">Yes</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="!c.suv">No</td>

          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.engineCapacity != 0">{{c.engineCapacity}}</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.engineCapacity == 0">-</td>

          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.status == 0">-</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.status == 1">Delivered</td>
          <td routerLink="/car-details/{{c.carId}}" *ngIf="c.status == 2">Waiting</td>

          <td>
            <button type="button" class="btn" (click)="deleteCar(c.carId)"><i class="fa fa-trash"></i></button>

          </td>

          <td>
            <button type="button" class="btn" routerLink="/update/{{c.carId}}"><i class="fa fa-edit"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!cars">
      <p> There is no Cars in the system.</p>
      <p> To add a new Car,Click <a routerLink="/add">here</a></p>
    </div>
  </div>
</div>
