div {
  height: 100vh;
  /* overflow: scroll; */

}
h3{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

table {
  text-align: center;
  margin: auto;
  border: solid rgb(224, 92, 92);
}
img{
  height: 70px;
  width: 70px;
}

tr, td, th {
  border: solid rgb(224, 92, 92);
}
.btn {

  background-color: rgb(224, 108, 108); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 19px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(228, 63, 63);
}

#myInput {
  background-image: url('/css/searchicon.png');
  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 20%;

  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 10px;
  margin-left: 15px;
  /* Add some space below the input */
}

#myTable {
  background-color: white;
  border-collapse: collapse;
  /* Collapse borders */
  width: 85%;
  /* Full-width */
  border: 1px solid #ddd;
  /* Add a grey border */
  font-size: 18px;
  /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: center;
  /* Left-align text */
  padding: 12px;
  /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: rgba(8, 139, 30, 0.527);
}
