.con {
  background-color: rgba(65, 57, 57, 0.404);
  padding: 16px;
}

p, h4 {
  margin-top: 1px;
  margin-bottom: 1.5px;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  left: 150px;
}

.buy {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4CAF50;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.price {
  color: grey;
  font-size: 22px;
}

.but {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
